.favorite-wrapper {
  background-image: url("../assets/birria.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem;
  margin-top: 2rem;
}

.favorite-card {
  margin-bottom: 5rem;
  color: #b22c23 !important;
  padding: 1rem;
  outline: 3px solid #537150;
  outline-offset: -1rem;
}

.favorite-link:hover .btn {
  text-decoration: underline;
  text-decoration-color: #537150;
  text-decoration-thickness: 2px;
  color: #212529;
}
